<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Email: <%= @user.email %><br />
    Password: <%= @password %>
  </body>
</html>
