<div id="container" style="height: 200px; min-width: 600px"></div>
<%= high_chart("container", @chart) %>
<script>
$(function() {
	$('#container').highcharts('StockChart', {
	    
	    chart: {
	    },
	    
	    legend: {
	    	enabled: true,
	    	align: 'right',
        	backgroundColor: '#FCFFC5',
        	borderColor: 'black',
        	borderWidth: 2,
	    	layout: 'vertical',
	    	verticalAlign: 'top',
	    	y: 100,
	    	shadow: true
	    },
	    
	    rangeSelector: {
	    	selected: 1
	    },
	    
	    series: [{
	        name: 'ADBE',
	        data: ADBE
	    }, {
	        name: 'MSFT',
	        data: MSFT
	    }]
	});
});
</script>
<div class="searchbox">
 Search: <input type="text" name="q" class="query" id="bangvk" placeholder="Search" style="width:200px"/>
</div>
<script>
	$("#bangvk").click(function() {
		$(this).attr("placeholder", "");
	});
	
	$("#bangvk").focusout(function() {
		$(this).attr("placeholder", "Search");
	});
</script>